body {
	margin: 20px;
	padding: 50px;
	font-family: Arial, sans-serif;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
}

main {
	padding-top: 110px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

.project-card {
    background-color: purple; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom : 20px; 
    max-width : 400px; 
 }

 .section {
	height: 500px;
 }