body {
	background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    padding: 0px;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: black;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
}

main {
	padding-top: 80px;
}

/* This will apply to all elements with an id, adjust as needed */
[id]:before { 
	display: block; 
	content: " "; 
	margin-top: -70px; /* This should be equal to your header's height */
	height: 70px; /* This should be equal to your header's height */
	visibility: hidden; 
}

nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
}

nav li {
	margin: 0px 10px;
}

nav a {
	text-decoration: none;
	color: #fff;
	display: flex;
}

.section {
	height: 500px;
 }

.project-card {
    background-color: purple; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom : 20px; 
    max-width : 400px; 
 }