body {
    background-color: black;
    color: white;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    color: #d5dce3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}
  
.navbar a.active {
    color: white;
}

.project-card {
    background-color: #333; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom : 20px; 
    max-width : 400px; 
 }